<div class="container">
    <h1>L'équipe d'Aniah</h1>
</div>
<div class="menu">
    <li><a routerLink="../stage-aniah">Mon stage chez Aniah</a></li>
    <li><a routerLink="">Retour à la page d'accueil</a></li>
</div>
<div class="content">
    <li><a href="https://www.linkedin.com/in/rmoriceau/" target="_blank">Rémi Mauriceau - CTO</a></li>
    <li><a href="https://www.linkedin.com/in/vincent-bligny/" target="_blank">Vincent Bligny - CEO</a></li>
    <li>Pierre Charles Pâlin - Dev Expert</li>
</div>