<div class="container">
    <h1>L'équipe d'Aniah</h1>
</div>
<div class="menu">
    <li><a routerLink="../stage-aniah">Mon stage chez Aniah</a></li>
    <li><a routerLink="">Retour à la page d'accueil</a></li>
</div>
<div class="content">
    <li><img src="assets/remi-moriceau-aniah.jpeg" alt="Photo Rémi Moriceau"><a href="https://www.linkedin.com/in/rmoriceau/" target="_blank">Rémi Mauriceau - CTO</a></li>
    <li><img src="assets/vincent-bligny-aniah.jpeg" alt="Photo Vincent BLigny"><a href="https://www.linkedin.com/in/vincent-bligny/" target="_blank">Vincent Bligny - CEO</a></li>
    <li><img src="assets/default.png" alt="Photo défaut"><a href="https://fr.linkedin.com/in/pierre-charles-pallin-1b55a884" target="_blank">Pierre Charles Pallin - Dev Expert</a></li>
</div>
