* {
    font-family: 'Poppins', sans-serif;
    background-color: #1c2c2e;
    color: white;
}

.container{
    width: 10%;
    text-align: center;
    padding: 30px;
}

.content{
    padding-top: 20px;
    margin: auto;
    width: 50%;
    font-size: 25px;
    text-align: center;
    list-style: none;
}

.content a{
    text-decoration: none;
}

.content a:hover{
    color: #BB0A2D;
    cursor: pointer;
}

.content img{
    border-radius: 100%;
    border: 5px solid rgba(187, 10, 45, 0.5);
    width: 120px;
    height: 120px;
    vertical-align: middle;
    margin: 20px;
}